<%namespace iTCA.Yuwen.Data%>
<%namespace iTCA.Yuwen.Entity%>
<%inherits iTCA.Yuwen.Web.postarticle%>

<%template _header%>
	<!--内容开始-->
	<%template _rightside%>
	
	<!--左栏开始-->
	<div id="left-side">
		<!--文章开始-->
		<div class="div-header">投递文章</div>
		<!-- tinyMCE -->

        <script language="javascript" type="text/javascript" src="editor/tiny_mce.js"></script>

        <script language="javascript" type="text/javascript">
            // Notice: The simple theme does not use all options some of them are limited to the advanced theme
            tinyMCE.init({
            mode : "textareas",theme : "advanced",language : "zh",
            theme_advanced_toolbar_location : "top",theme_advanced_toolbar_align : "left"
            });
         </script>
        <!-- /tinyMCE -->
        
        
        <div>
        <form method="post" action="">
        
        <table style="width:100%;">
                <tr>
                    <td style="width: 96px">
                        <select name="columnid" id="columns" style="width:96px;">
                        <%loop (ColumnInfo) columninfo columnlist%>
	                        <option value="{columninfo.columnid}">{columninfo.columnname}</option>
	                    <%/loop%>
                        </select>
                    </td>
                    <td>
                        <input name="title" type="text" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea name="summary" rows="2" cols="20" id="summary" style="height:70px;width:100%;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea name="content" rows="2" cols="20" id="tbxContent" style="height:366px;width:100%;"></textarea>
                    </td>
                </tr>
                <tr>
                    
                    <td>上传文件:</td>

                    <td>
                        <input type="file" name="fuUploader" id="fuUploader" />
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        <input type="submit" name="btnUpload" value="上传" id="btnUpload" /><span id="lbMessage" style="color:Red;"></span></td>
                </tr>

                <tr>                    
                    <td align="center" colspan="2">
                        <input type="submit" value="提交" />&nbsp;&nbsp;&nbsp;<input type="submit" name="btnCancel" value="取消" id="btnCancel" />
                    </td>
                </tr>
            </table>
        </form>
        </div>
		<!--文章结束-->
	</div>
	<!--左栏结束-->

	<!--内容结束-->

<%template _footer%>