	<!--右栏开始-->
	<div id="right-side">
		<div class="div-header">站内搜索</div>
		<div id="search"><form action="#1" method="post">标题搜索&nbsp;:&nbsp;<input type="text" id="searchkey" name="searchkey" />&nbsp;&nbsp;<input type="submit" value="搜索" /></form></div>	
		
		<div id="recommend-article" class="right-list">
			<div class="div-header">推荐新闻</div>
			<ul>
				<li><h2><a href="#">安装VS 2008 SP1后，智能提示变为英文...</a></h2></li>
				<li><h2><a href="#">揭示Visual Studio 2010发展路线图</a></h2></li>
				<li><h2><a href="#">.NET Framework 3.5 SP1完整版发布</a></h2></li>
				<li><h2><a href="#">GMail再次更新:带来新主题</a></h2></li>
				<li><h2><a href="#">求求你原谅我,亲爱的Firefox</a></h2></li>
				<li><h2><a href="#">Google处理1TB数据只需68秒 1PB六个小时</a></h2></li>
			</ul>
		</div>
		
		<div id="hot-article" class="right-list">
			<div class="div-header">热门新闻</div>
			<ul>
				<li><h2><a href="#">安装VS 2008 SP1后，智能提示变为英文...</a></h2></li>
				<li><h2><a href="#">揭示Visual Studio 2010发展路线图</a></h2></li>
				<li><h2><a href="#">.NET Framework 3.5 SP1完整版发布</a></h2></li>
				<li><h2><a href="#">GMail再次更新:带来新主题</a></h2></li>
				<li><h2><a href="#">求求你原谅我,亲爱的Firefox</a></h2></li>
				<li><h2><a href="#">Google处理1TB数据只需68秒 1PB六个小时</a></h2></li>
			</ul>
		</div>
		
		<div id="latest-comment" class="right-list">
			<div class="div-header">最新评论</div>
			<ul>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article">"<a href="#">安装VS 2008 SP1后，智能提示变为英文...</a>"</span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">揭示Visual Studio 2010发展路线图</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">.NET Framework 3.5 SP1完整版发布</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">GMail再次更新:带来新主题</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">求求你原谅我,亲爱的Firefox</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">Google处理1TB数据只需68秒 1PB六个小时</a></span> 的评论</div>
				</li>
			</ul>
		</div>
		
		<div id="hot-comment" class="right-list">
			<div class="div-header">热门评论</div>
			<ul>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">安装VS 2008 SP1后，智能提示变为英文...</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">揭示Visual Studio 2010发展路线图</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">.NET Framework 3.5 SP1完整版发布</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">GMail再次更新:带来新主题</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">求求你原谅我,亲爱的Firefox</a></span> 的评论</div>
				</li>
				<li>
					<span class="content">从2006年2月的“高跟鞋虐猫事件”，到近期的深圳海事局原党委书记林嘉祥事件...</span>
					<div class="comment-info"><span class="comment-author">匿名用户 </span>对 <span class="from-article"><a href="#">Google处理1TB数据只需68秒 1PB六个小时</a></span> 的评论</div>
				</li>
			</ul>
		</div>
		
	</div>
	<!--右栏结束-->	
