<%namespace iTCA.Yuwen.Data%>
<%namespace iTCA.Yuwen.Entity%>
<%inherits iTCA.Yuwen.Web.register%>

<%template _header%>
	<!--内容开始-->
	<%template _rightside%>
	
	<!--左栏开始-->
	<div id="left-side">
		<!--文章开始-->
		<div class="div-header">用户登录</div>
		<form action="" method="post" id="login">
		<input id="loginid" name="loginid" type="text" />
		<input id="password" name="password" type="password" />
		<input type="submit" value="登录" />
		</form>
		<!--文章结束-->
	</div>
	<!--左栏结束-->

	<!--内容结束-->

<%template _footer%>