<%namespace LiteCMS.Data%>
<%namespace LiteCMS.Entity%>
<%inherits LiteCMS.Web.showmessage%>

<%template _header%>
	<!--内容开始-->
	<%template _rightside%>
	
	<!--左栏开始-->
	<div id="left-side">
		<!--文章开始-->
		<div class="div-header">系统提示</div>
		<div>{messageheader}</div>
		<div>{messagebody}</div>
		<div>{messagefooter}</div>		
		<div><%if {isautoredirect}%><span id="autoredirect"></span><%/if%><a href="{redirecturl}">如果浏览器没有自动转向, 请点击这里.</a></div>
		<!--文章结束-->
	</div>
	<!--左栏结束-->

	<!--内容结束-->
	<%if {isautoredirect}%>
    <script language='javascript' type='text/javascript'>
    var secs = 5; //倒计时的秒数
    var URL = '{redirecturl}';
    for(var i=secs;i>=0;i--)
    {
     window.setTimeout('doUpdate(' + i + ')', (secs-i) * 1000);
    }

    function doUpdate(num)
    {
     document.getElementById('autoredirect').innerHTML = '浏览器将在'+num+'秒后自动转向.' ;
     if(num == 0) { window.location=URL;  }
    }
    </script> 
   <%/if%>

<%template _footer%>